.usa-radio {
    text-align: left;
}
.add-button {
    float: left;
    margin-top: 10px;
    margin-bottom: 10px;
}
.request-data {
    margin: 10px 0px 30px 0px; 
}
.input-tags-element {
    display: block;
    max-width: 300px;
    text-align: left;
}
.tags-input {
    display: block;
}
.tags-input-remove {
    margin-right: 5px;
}
.selected-tags {
    display:block;
    text-align:left;
    clear: both;
}
.usa-input {
    max-width: 300px; 
    display: block;
    clear: both;
}
.label-span {
    text-align: left;
    display: block;
}
.input-label {
    text-align: left;
    display: block;
}
